/*Стилі для усіх сторінок*/
body {
    margin: 0;
    background-image: url("assets/background.jpg");
    background-size: cover;
}
#header {
    background-color:slateblue;
    padding: 10px;
}
.title {
    font-family: 'Dela Gothic One', sans-serif;
    color:white;
    padding-left: 25px;
    font-weight: 10;
    font-size: 150%;
    display: flex;
    justify-content: left;
}
.button a {
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
    color: azure;
    text-decoration: none;
    transition: 1s;
    margin-left: 100px;
}

.button :hover {
    color: lightgreen;
    text-decoration:underline;
    transition: 0.6s;
}

#body {
    margin: 5%;
    padding: 1%;
    background-color: rgb(63, 56, 107);
}

#body .title {
    font-size: 70px;
    display: flex;
    float: left;
    width: 69%;
}

#icon {
    display: flex;
    width: 29%;
}