
/*Body*/
body {
    margin: 0;
    background-image: url("assets/background.jpg");
    background-size: cover;
}

/*Text types*/
.title {
    font-family: 'Dela Gothic One', sans-serif;
    color:#ffffff;
    font-size: 150%;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-family: 'Dela Gothic One', sans-serif;
    color:#ffffff;
    font-size: 120%;
    font-weight:100;
}

.text {
    font-family: 'Mitr', sans-serif;
    font-size:120%;
    font-weight:200;
    color: #ffffff;
}

.button a {
    font-family: 'Mitr', sans-serif;
    font-size: 90%;
    color: azure;
    text-decoration: none;
    transition: 1s;
}

.button :hover {
    color: #44ddbf;
    text-decoration:underline;
    transition: 0.6s;
}

/*Header*/
#header {
    background-image: linear-gradient(to right, #7289da, #536abe);
    padding: 15px;
}
#header .title {
    margin-left: 25px;
}
#header div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#header .button a {
    font-size: x-large;
    padding-top: 20px;
}

/*Hero*/

#hero {
    background-image: linear-gradient(to right, #7289da, #536abe); /*Знайшов в інеті*/

}


#hero, .body {
    margin: 5%;
    padding: 1%;
    background-color: #36393f;
    border: 2px solid #ffffff;
    border-radius: 10px;

}

#hero .title {
    font-size: calc(0.5em + 2.5vw);
    padding-left: 2.5%;
    display: flex;
    float: left;
    max-width: 70%;
    max-height: 100px;
}

#hero .subtitle {
    padding-left: 2.5%;
    max-width: 30%;
}

#gd-logo {
    display: flex;
    width: 20%;
    height: 30%;
    justify-content: right;
    image-rendering: optimizeQuality;
}

/*News*/
#news .title {
    font-size: xx-large;
}
.icongd {
    width: 64px;
    height: 64px;
    padding-left: 25px;
}
#news table {
    width: 95%;
}
#news th {
    padding-top: 20px;
    text-align: left;
}
/*Pages*/
/*Footer*/

#footer {
    background-color: rgba(114, 137, 218, 0.5);
    padding: 50px;
}

#footer ul {
    list-style: none;
}

#footer .title {
    display: inline-flex;
}
#footer .text {
    font-size: small;
}

#footer .button {
    font-size: larger;
}

#footer div {
    display: inline-table;
    width: 30%;
}
#footer .icongd {
    display: inline-flex;
}

/*VL page*/

#vllist table {
    display: inline-flex;
    border-radius: 10px;
    border: 0;
}
#vllist td {
    background-color: slateblue;
    border: 0;
}

#vllist .subtitle {
    padding: 10px;
}

#vllist .listdesc {
    width: 25%;
    justify-content: right; 
    display: inline-flex;
}


/*in developing page*/

#indev .title {
    width: 100%;
}

#indev .subtitle {
    text-align: center;
}